
body{
    background:var(--bg-primary) ;
    position: relative;
}

/*HOME*/
#home{
    position: relative;
    z-index: 1;
    width: 100%;
    display: flex;
    align-items: center;
    height: calc(100vh - 162px);


    @media (max-width:600px) {
        display: block;
        height: 100%;
    }
}

.container-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width:600px) {
        padding: 4rem 0;
    }
}

.my-selfie{
    object-fit: cover;
    width: 11.25rem;
    margin-bottom: 2rem;
}

h1{
    color: var(--white);
    font-family: var(--font-family-primary);
    font-size: 3.5rem;
    font-weight: 500;
    margin-bottom: 1rem !important;

    @media (max-width:600px) {
        font-size: 2rem;
    }
}

.description{
    max-width: 46rem;
    width: 100%;
    font-family: var(--font-family-primary);
    font-weight: 300;
    font-size: 1.25rem;
    text-align: center;
    color: var(--white-opacity-80);

    @media (max-width:768px) {
        width: 100%;
    }

    @media (max-width:600px) {
        font-size: 1rem;
    }
}

p{
    text-align: center;
    max-width: 31.25rem;
    width: 100%;
    font-family: var(--font-family-primary);
    font-weight: 400;
    font-size: 1rem;
    color: var(--gray);

    @media (max-width:768px) {
        width: 100%;
    }

    @media (max-width:600px) {
        font-size: .875rem;
    }
}

.link-detalhe{
    color: var(--blue);
}
/*End*/


/*Footer*/
#footer{
    background: var(--bg-tertiary);
    z-index: 9999;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.decorator{
    border-top: 1px solid var(--black);
}

.footer-wrapper{
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    align-items: center;
    padding: 2rem 0;

    @media (max-width:600px) {
        flex-direction: column-reverse;
        align-items: start;
        gap: 2rem;
    }
}

.link-wrapper{
    display: flex;
    gap:2rem;

    @media (max-width:600px) {
        flex-wrap: wrap !important;
    }
}

span{
    font-size: .875rem;
    font-family: var(--font-family-primary);
    color: var(--white-opacity-70);
}

.link-wrapper  li > a {
    font-size: .875rem;
    font-family: var(--font-family-primary);
    color: var(--white-opacity-70);

    &:hover{
        color: var(--white);
        transition:linear 1ms color;
    }
}

/*End*/